body{
    background-color: aliceblue;
}
h1{
    color: blue;
    font-size: 60px;
}
h2{
    color: blue;
    padding-top: 80px;
}
h1{
    padding-left: 200px;
}
h6{
    padding-left: 0px;
}
label{
    padding-left: 80px; 
}
hr{
    height: 10%;
 
}
input{
    
    border-radius: 8px;
    margin-top: 1px;
}
.input-adresse{
    width: 56%;
    height: 90%; 
}

.input-password{
    width: 56%;
    height: 90%;
}

.input-creation{
    background-color: forestgreen;
    font-size: 18px;
    color: white;
}


.input-connexion{
    width: 56%;
    height: 90%;
    background-color: mediumblue;
}


.input-connexion, .value{
    color: white;
    font-size: 20px;
}

p{
    padding-left: 160px;
    padding-top: 20px;
    color: blue;
}