body{
    background: white;
}
h1{
    color: blue;
    padding-top: 20px;
    padding-left: 570px;
    font-size: 24px;
}
input{
    width: 35%;
    height: 40px;
    padding-left: 120px;
    border-radius: 4px;
  border: honeydew;
background-color: aliceblue;
   margin-top: 10px;
   box-shadow: aliceblue;
  
   
}
label{
    
    padding-left: 400px;
}
text{
    padding-top: -20px;
}
.input-connecter{
    background: cornflowerblue;
  list-style-type: armenian;
   
}
.input-connecter,.value{
    color: white;
    font-size: 22px;
    padding-right: 180px;
    font-style: bolder;
    
}
p{
    padding-left: 550px;
    color: royalblue;
    padding-top: 20px;
}
h6{
  margin-left: 600px;
}
hr{
    width: 15%;
    padding-right: 100px;
    padding-left: 80px;
    margin-left: 430px;
}
.input-creer {
  width: 70px;
    background: green;

}
.input-creer, .value{
    color: white;
    font-size: 16px;
   padding-right: 150px;
   padding-left: 40px;
    font-style: bolder;
    margin-left: 100px;
    
}
